<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Galletitas de banana</title>
</head>
<body class="sitioDos">
    <header>
<h1>
Receta de galletitas de banana
</h1>
    </header>


    <main>
        <section>
              <article>
                <h2>Ingredientes</h2>
                <ul>

               <li>200 gr de avena.</li> 
                <li>3 bananas.</li>
                <li>2 cucharadas de miel.</li>
                <li>2 cucharadas de aceite.</li>
               <li>Chips de chocolate (opcional).</li> 
            </ul>

              </article>
              <article>
            <h2>
                Preparación
            </h2>
               <ol>
                <li class="practicando"> Colocar las bananas en un recipiente y aplastarlas por completo hasta formar un puré. Luego agregar dos cucharadas de miel y una cucharada de aceite. Mezclar todo. </li> 
                 <li> Sumar la avena de a poco e irla integrando mientras se remueve la mezcla. Agregar dos cucharadas de chips de chocolate (opcional) y unirlo todo.</li>   
                   <li> Pausa para precalentar el horno en 180°.</li> 
                   <li> Con las manos húmedas formar las galletas e irlas colocando sobre una bandeja enmantecada. </li> 
                   <li> Cuando estén todas las galletas listas llevarlas a horno precalentado y cocinar por 10 minutos o hasta dorar. </li> 
               </ol>
               <img src="/img/galletas.jpg" alt="">
              </article>
        </section>
    </main>
    <footer>
<p> Ver receta en <a href="https://www.paulinacocina.net/galletas-de-avena-y-banana/27342#google_vignette" target="_blank">Haga click</a></p>
    </footer>

</body>
</html>